<%
# current_page.data.title = ""
# current_page.data.description = ""
# current_page.data.keywords = ""
# current_page.data.local = ""
# current_page.data.type = ""
# current_page.data.image = ""
# current_page.data.card = ""
# current_page.data.author = ""
# current_page.data.color = ""
current_page.data.className = 'home'

page = data.home
%>
<div id="page__home">
    <canvas id="canvas" width="300" height="300"></canvas>
    <%= image_tag "clouds.jpg", class: 'page_galerie__distortion js-clouds' %>
</div>

